{% extends 'base.html' %}


{% load static %}


{% load bootstrap4 %}

{% block body %}



<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/breadcrumb/breadcrumb-bg.jpg' %});">
	<div class="container-fluid text-center">
		<h1>Contact Us</h1>
		<div class="breadcrumb-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left pull-left">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Contact Us</li>
                            </ul>    
                        </div>
                          
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start contact v1 area-->
<section class="contact-v2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-info">
                    <div class="title">
                        <h3>Corporate Office</h3>
                    </div>
                    <ul class="contact-address">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-building"></span>
                            </div>
                            <div class="text-holder">
                                <p>256 Interior the good, New York</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <p>(+321) 567 89 0123</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-new-email-outline"></span>
                            </div>
                            <div class="text-holder">
                                <p>Support@Interiors.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <p>Mon - Sat Day: 09.00 to 18.00<br> Sunday Closed</p>
                            </div>
                        </li>
                    </ul>
                    <div class="view-on-map">
                        <a href="#">View On Map<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-info pd-bottom">
                    <div class="title">
                        <h3>Franchisee Operation</h3>
                    </div>
                    <ul class="contact-address">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-building"></span>
                            </div>
                            <div class="text-holder">
                                <p>11/8 Designer Street, Northvale</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <p>(+321) 890 12 3456</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-new-email-outline"></span>
                            </div>
                            <div class="text-holder">
                                <p>Getintouch@Interiors.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <p>Mon - Sat Day: 09.00 to 18.00<br>Sunday Closed</p>
                            </div>
                        </li>
                    </ul>
                    <div class="view-on-map">
                        <a href="#">View On Map<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                <div class="google-map-area">
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d497693.37040946196!2d77.73627!3d12.957164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1378c8d47d43%3A0xf7389d42acdf0d27!2sMeraki%20Homz%20-%20Aristo%20Wardrobes%20and%20End%20to%20End%20Home%20interiors%20Bangalore!5e0!3m2!1sen!2sus!4v1691484808216!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>                                                                     
<!--End contact v1 area-->
 
<!--Start contact v2 form area-->
<section class="contact-v2-form-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-v2-form">
                    <div class="sec-title text-center">
                        <h2>Send Your Message</h2>
                        <p> We've distilled our interior design process into 4 Steps – the same steps we have been using for more than 41 years, In this steps, the designer visits your home to gather more.</p>
                    </div>
                    <form  action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form contact_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        {% endbuttons %}
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>                                                                                           
<!--End contact v2 form area--> 


{% endblock body %}