{% extends 'base.html' %}


{% load static %}

{% block body %}





<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/breadcrumb/breadcrumb-bg.jpg' %});">
	<div class="container-fluid text-center">
		<h1>Our Work</h1>
		<div class="breadcrumb-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left pull-left">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li><a href="#">our work</a></li>
                               
                            </ul>    
                        </div>
                         
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
<!--End breadcrumb area-->
                                              
<!--Start project classic v2 area--> 
<section id="project-area" class="pro-classic-v2-area">
    <div class="container">
       
        <div class="row project-content masonary-layout filter-layout">
            {% for details in work_list %}
            <div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item commer indus corp">
                <div class="img-holder">
                    <img src="{{ details.category_image.url }}" alt="Awesome Image">
                    <div class="overlay-style-2">
                        <div class="box">
                            <div class="content">
                                <div class="text-holder">
                                    <a href="{% url 'webapp:our_work_detail' details.id %}"><h3>{{ details }}</h3></a>
                                    <p></p>
                                </div>
                                <div class="icon-holder">
                                    <a href="{{ details.category_image.url }}" data-rel="prettyPhoto" title="Interrio Project"><i class="fa fa-camera"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            {% endfor %}
            <!--End single project item-->

            <!--End single project item-->  
        </div>
      
    </div>
</section>                            
<!--End project classic v2 area--> 

{% endblock body %}
