{% extends 'base.html' %}


{% load static %}

{% block body %}



<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/breadcrumb/breadcrumb-bg.jpg' %});">
	<div class="container-fluid text-center">
		<h1>{{post_detail}}</h1>
		<div class="breadcrumb-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left pull-left">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li><a href="#">Blogs</a></li>
                                
                            </ul>    
                        </div>
                          
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start blog area-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <!--Start single blog post-->
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="{{post_detail.image.url}}" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title">{{post}}</h3>
                            
                            <div class="text">
                                <p>{{post_detail.content}}</p>
                                <h4>{{post_detail.title1}}</h4>
                                <p>{{post_detail.content1}}</p>
                                <h4>{{post_detail.title2}}</h4>
                                <p>{{post_detail.content2}}</p>
                                <h4>{{post_detail.title3}}</h4>
                                <p>{{post_detail.content3}}</p>
                                <h4>{{post_detail.title4}}</h4>
                                <p>{{post_detail.content4}}</p>
                                <h4>{{post_detail.title5}}</h4>
                                <p>{{post_detail.content5}}</p>
                            </div>
                        </div>    
                    </div>
                    <!--End single blog post-->
                   
                </div>
            </div>
           
        </div>
    </div>
</section> 
<!--End blog area-->     



{% endblock body %}